<div id="home-message">
  <div class="row">
  	<div class="col-md-8">
      <h1>Save and Share Fire Messenging</h1>
    </div>

  </div>
  <div class="row">
  	    <div class="col-sm-6">
  	<p>Whether you are writing the morning update of answering comments on facebook, avoid wasting time writing the same messages over and over. Save common messages as a blurb that you can copy and paste. Maintain consistency with your staff by sharing popular blurs. At a loss for words? Search <strong>#hashtags</strong> for stock responses. Maybe someone has arleady articulated what you wish to say.</p>
    </div> 

  </div>
</div>

<% content_for :second_contents do %>
<div class="container-fluid second-block white-bg">

</div>
<% end %>