.white-bg {
	background-color: white !important;
}
.lg-gray-bg {
	background-color: #f7f7f7;
}
.yellow-bg {
	background-color: yellow;
}
.orange-bg {
	background-color: orange;
}
.blue-bg {
	background-color: #def0fe;
}
.drk-gray-bg {
	background-color: #6F777D;
}