body.home-controller {
	background-color: #def0fe !important;
}
.yellow {
	color: yellow !important;
}
.btn-aqua {
	background-color: #57bad4;
}
a.signup-button {
	padding: 10px 20px !important;
	background-color: #57bad4;
	margin-top: 10px;
	color: white !important;
	margin-right: 10px;
	border-radius: 5px;
}