#users-page {
	.avatar {
		margin-top: -10px;
		margin-right: 4%;
	  text-align: center;
	  font-size: 1.2em !important;
	  -moz-border-radius: 20px/20px !important;
	  -webkit-border-radius: 20px 20px !important;
	  border-radius: 20px/20px !important; 
	  width: 40px;
	  height: 40px;
	  background-color: #f2f2f2;
	  display: inline-block;
	  float: left;
	  overflow: hidden;
	  img {
    	width: 100%;
    	height: auto;
    	min-height: 2.2em;
    	min-width: 2.2em;
    }
	}
}
.big-avatar	{
  text-align: center;
  font-size: 1.2em !important;
  -moz-border-radius: 20px/20px !important;
  -webkit-border-radius: 20px 20px !important;
  border-radius: 50px/50px !important; 
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  display: inline-block;
  overflow: hidden;
  img {
  	width: 100%;
  	height: auto;
  	min-height: 2.2em;
  	min-width: 2.2em;
  }
}
.user-icon {
	font-size: 2em;
	color: #d2d2d2;
	margin-top: 6px;
}
.user-icon-big {
	font-size: 6em;
	color: #d2d2d2;
	margin-top: 6px;
}
 	ul.skills-tags {
 		padding-left: 0px;
 
 	}
.tcard-head {

	border-top: 2px solid #f2f2f2;
	padding: 15px 15px 5px 15px;
	background-color: white;
	font-weight: 600;
	color: black;
	z-index: 2;
}

body.users-controller.index-action {
  background-color: #f2f2f2;
  
}
body.users-controller.show-action {
	background-color: white !important;
	.navbar-default {
    background-color: #f2f2f2 !important;
    border-bottom: none;
  }
}
.pio-details {
	margin-top: -2px;
	// display: none;
	overflow:hidden;
}
.details-container {
	overflow:hidden;
	display: none;
}
.tcard {
	// border-bottom: 1px solid #d5f3ff;
	color: #777777;
	span {
		color: black;
		margin-left: 10px;
	}
}
.last-name {
	font-size: 1.2em;
}
.available {
	color: #5fb760;
}
.unavailable {
	color: gray;
}
.onassignment {
	color: red;
}
#user-tags {
	li {
		display: inline-block;
		margin-right: 10px !important;
	}
}
