<div class="container">
	<div class="row">
		<div class="col-lg-6 center-block">
			<div class="page-header">
				<div class="row">
				  <h1><%= t('.page_title') %></h1>
				</div>

				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
